<?xml version="1.0" encoding="utf-8"?>
<odoo>

<!-- Actions -->
<record id="sc_action_menu_secrets" model="ir.actions.act_window">
  <field name="name">Secrets</field>
  <field name="res_model">secret.secret</field>
  <field name="view_mode">tree,form</field>
</record>


<!-- Menus -->
<menuitem 
  id="sc_menu_secret"
  sequence="1"
  name="Secret"
  web_icon="contact,static/description/icon.png">
  
  <!-- Partners -->
  <menuitem id="sc_menu_settings" name="Données" sequence="99">
    <menuitem id="sc_menu_secrets" name="Secrets" action="sc_action_menu_secrets"/>
  </menuitem>
  
  
</menuitem>

</odoo>